<div>
<form action="/addproduit" method="POST">
    <div class="modal fade" id="add_produit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New quote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name</label>
                <input type="text" class="form-control" name="name" id="recipient-name">
              
                <label for="message-text" class="col-form-label">quantity</label>
                <input type="text" class="form-control" name="quantite" id="recipient-name">

                <label for="message-text" class="col-form-label">price</label>
                <input type="text" class="form-control"  name="prix" id="recipient-name">

                <label for="message-text" class="col-form-label">rayon Code</label>
                <select class="form-control" name="code_rayon" id="recipient-name">
                    <% for (let i = 0; i < rayon.length; i++) { %>
                     <option value="<%= rayon[i].code_rayon %>"> <%= rayon[i].code_rayon %></option>
                  <% } %>
                </select>
                </select>

                <label for="message-text" class="col-form-label">provider reference: </label>
                <select class="form-control" name="fourniseur_ref" id="recipient-name">
                <% for (let i = 0; i < fourni.length; i++) { %>
                     <option value="<%= fourni[i].fourniseur_ref %>"> <%= fourni[i].fourniseur_ref %></option>
                  <% } %>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    </div>
  